.DS_Store
.pgx.*
.pdm-python
/fish_speech.egg-info
__pycache__
/results
/data
/*.test.sh
*.filelist
filelists
/fish_speech/text/cmudict_cache.pickle
/checkpoints
/.vscode
/data_server/target
/*.npy
/*.wav
/*.mp3
/*.lab
/results
/data
/.idea
ffmpeg.exe
ffprobe.exe
asr-label*
/.cache
/fishenv
/.locale
/demo-audios
/references
/example
/faster_whisper
