[Unit]
Description=fish-speech
After=syslog.target network.target

[Service]
Type=notify
WatchdogSec=10
WorkingDirectory=/workspace/fish-speech
ExecStart=/usr/bin/python -m tools.api_server \
    --listen 0.0.0.0:8000 \
    --llama-checkpoint-path "checkpoints/openaudio-s1-mini" \
    --decoder-checkpoint-path "checkpoints/openaudio-s1-mini/codec.pth" \
    --decoder-config-name modded_dac_vq \
    --compile

ExecReload=/usr/bin/kill -TSTP $MAINPID
User=root
Group=root
Environment=MALLOC_ARENA_MAX=2
# if we crash, restart
RestartSec=1
Restart=always

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target